.footer__distributed {
  background: #f6f6f8;
  box-shadow: 0 1px 1px 0 #f6f6f8;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 34px 50px;
  color: #8e8e8e;
  border-top: 1px solid #f6f6f8;
}

.footer__distributed .footer__left,
.footer__distributed .footer__center,
.footer__distributed .footer__right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer__distributed .footer__left {
  width: 40%;
}

/* The company logo */

.footer__distributed h3 {
  color: #8e8e8e;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer__distributed h3 span {
  color: #8e8e8e;
}

/* Footer links */

.footer__distributed .footer__links {
  color: #8e8e8e;
  margin: 20px 0 12px;
  padding: 0;
}

.footer__distributed .footer__links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer__distributed .footer__company__name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer__distributed .footer__center {
  width: 35%;
}

.footer_logo {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.footer__distributed .footer__center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer__distributed .footer__center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer__distributed .footer__center p {
  display: inline-block;
  color: #8e8e8e;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer__distributed .footer__center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer__distributed .footer__center p a {
  color: #8e8e8e;
  text-decoration: none;
}

.footer__distributed .footer__links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #8e8e8e;
  display: inline-block;
  padding-right: 5px;
}

.footer__distributed .footer__links .link__1:before {
  content: none;
}

/* Footer Right */

.footer__distributed .footer__right {
  width: 20%;
}

.footer__distributed .footer__company__about {
  line-height: 20px;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer__distributed .footer__company__about span {
  display: block;
  color: #8e8e8e;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__distributed .footer__icons {
  margin-top: 25px;
}

.footer__distributed .footer__icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer__distributed {
    font: bold 14px sans-serif;
  }

  .footer__distributed .footer__left,
  .footer__distributed .footer__center,
  .footer__distributed .footer__right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer__distributed .footer__center i {
    margin-left: 0;
  }
}
